<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./lib/bootstrap-validator/css/bootstrapValidator.css">
    <link rel="stylesheet" href="./lib/nprogress/nprogress.css">
    <!-- 引入自己的样式 -->
    <link rel="stylesheet" href="./css/common.css">
</head>

<body>
    <!-- 左边测边栏 -->
    <div class="lt_aside">
        <!-- 标题 -->
        <div class="brand">
            <a href="#">黑马26期</a>
        </div>
        <div class="user">
            <img src="./images/33.jpg" alt="">
            <p>超级管理员</p>
        </div>
        <div class="nav">
            <ul>
                <li>
                    <a href="user.html">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>用户管理</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="category">
                        <i class="glyphicon glyphicon-list"></i>
                        <span>分类管理</span>
                    </a>
                    <div class="child" style="display: none">
                        <a href="first.html">一级分类</a>
                        <a href="second.html">二级分类</a>
                    </div>
                </li>
                <li>
                    <a href="product.html">
                        <i class="glyphicon glyphicon-tags"></i>
                        <span>商品管理</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- 右侧主体部分 -->
    <div class="lt_main">
        <!-- 头部导航 -->
        <div class="lt_topbar">
            <a href="javascript:;" class="pull-left icon_menu">
                <i class="glyphicon glyphicon-align-justify"></i>
            </a>
            <a href="javascript:;" class="pull-right icon_logout">
                <i class="glyphicon glyphicon-log-out"></i>
            </a>
        </div>
        <!-- 底部容器 使用container-fluid流式布局 宽度百分比 有默认的padd -->
        <div class="container-fluid">
            <!-- 使用bootstrap组件 路径导航 -->
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">管理系统</a>
                </li>
                <li class="active">用户管理</li>
            </ol>


            <!-- 主体下面表格部分 -->
            <div class="lt_content">
                <!-- 1 table-bordered 添加边框
            2 table-hover 添加hover效果 -->
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>用户名</th>
                            <th>手机号</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 这里需要用模板引擎渲染
                    下面script中准备模板 -->

                    </tbody>
                </table>

                <!-- 分页标签容器 -->
                <div class="text-right">
                    <!-- 3以上的版本需要转变ul -->
                    <ul id="paginator"></ul>
                </div>
            </div>
        </div>
    </div>


    <!-- 点击退出 显示模态框    引用组件 -->
    <!-- 模态框组件有大 中 小 三种 默认是中号  这里需要用到小号 -->
    <div class="modal fade" tabindex="-1" id="logoutModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">温馨提示</h4>
                </div>
                <div class="modal-body">
                    <p class="red">
                        <i class="glyphicon glyphicon-info-sign"></i>
                        你确定要退出后台管理系统吗</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="logoutBtn">退出</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>




    <!-- 准备 模板 -->
    <!-- type类型写成text/html 和text/template都可以说明该script为模板 -->
    <script type="text/html" id="tpl">
        {{ each rows v i }}
        <tr>
            <!-- 序号=当前页的下标（0,1,2,3,4）+1
            因为每页的数据是5条 所以每页下标都是0-4
            i是根据row的下标0-4得出
            最后还要加上(page-1)*size 这是求出前面有多少条数据 -->
            <td>{{i+1+(page-1)*size}}</td>
            <td>{{v.username}}</td>
            <td>{{v.mobile}}</td>
            <!-- isDelete标记当前用户的状态
            如果为1 已启用
            如果为0 已禁用 -->

            <td>{{v.isDelete===1 ? "正常" : "已禁用"}}</td>
            <td>
                {{ if v.isDelete ===1}}
                <button class="btn btn-danger">禁用</button>
                {{/if}}

                {{if v.isDelete === 0}}
                <button class="btn btn-success">启用</button>
                {{/if}}
            </td>
        </tr>
        {{ /each }}
    </script>

    <script src="./lib/jquery/jquery.min.js"></script>
    <script src="./lib/bootstrap/js/bootstrap.js"></script>
    <script src="./lib/bootstrap-validator/js/bootstrapValidator.js"></script>
    <script src="./lib/bootstrap-paginator/bootstrap-paginator.min.js"></script>
    <script src="./lib/nprogress/nprogress.js"></script>
    <script src="./lib/artTemplate/template-web.js"></script>
    <script src="./js/checkLogin.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/user.js"></script>
</body>

</html>